<table>
    <tbody>
    <tr>
        <th>Redmine backup dir</th>
        <td><input type="text" id="settings_redmine_backup_dir"
            value="<%= settings['redmine_backup_dir'] %>"
            name="settings[redmine_backup_dir]" >
        </td>
        <th>Redmine backup keep time</th>
        <td><input type="text" id="settings_redmine_backup_times"
            value="<%= settings['redmine_backup_keep_time'] %>"
            name="settings[redmine_backup_keep_time]" >
        </td>
    </tr>
    </tbody>
</table>
